<p-button (click)="showEditDialog()" icon="pi pi-pencil" label="Edit"></p-button>
            <p-dialog header="Edit" [(visible)]="displayEdit" [style]="{width: '50vw'}">
                <p>If you add attributes or features you will be required to update your hierarchy
                    upon saving; otherwise your changes will be lost.</p>
                <ng-template pTemplate="footer">
                    <p-button (click)="displayEdit=false" label="Ok" styleClass="p-button"></p-button>
                    <p-button icon="pi pi-times" (click)="displayEdit=false" label="Cancel" styleClass="p-button-text"></p-button>
                </ng-template>
            </p-dialog>

            <p-table [value]="products" dataKey="name">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product let-expanded="expanded">
                    <tr>
                    <td>
                            <button type="button" pButton pRipple [pRowToggler]="product" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                        </td>
                        <td>{{product.name}}</td></tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-product>
                    <tr>
                        <td colspan="7">
                            <div class="p-p-3">
                                <p-table [value]="product.orders" dataKey="id">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th pSortableColumn="name">Name <p-sortIcon field="price"></p-sortIcon></th>
                                            <th pSortableColumn="dataType">DataType <p-sortIcon field="customer"></p-sortIcon></th>
                                            <th>Required <p field="date"></p></th>
                                            <th style="width: 4rem"></th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-order>
                                        <tr>
                                            <td>{{order.name}}</td>
                                            <td>{{order.dataType}}</td>
                                            <td><p-checkbox [binary]="true"></p-checkbox></td>
                                            <td><p-button type="button" icon="pi pi-trash"></p-button>Delete</td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="emptymessage">
                                        <tr>
                                            <td colspan="6">emptymessage.</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>